body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container,
.container2 {
  width: 21cm;
  height: 30.5cm;
  margin: 0 auto;
  background-color: #f7f7f7;
  border: solid 1cm #d6a59e;
  overflow: hidden;
}

.img {
  display: flex;
  justify-content: center;
  width: 100%;
}

img {
  height: 3cm;
}

.conteudo {
  text-align: center;
  margin: 0 1cm 1cm 1cm;
}

p {
  text-align: left;
  font-size: 20px;
}
.margenLinha {
  margin: 1px 0 1px 0;
}
.margenLinhaBaixo {
  margin-bottom: 1px;
}

.destaque {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.linha {
  line-height: 5px;
}

.localEntrega {
  margin-top: -10px;
}

.descricao {
  margin-top: -20px;
}

.formaPagar {
  margin-top: 10px;
}

.contrato,
.contrato2 {
  display: none;
}
.conteudo2 > p, .conteudo2 > ul>li>p {
  font-size: 18px;
}

.localEntregaContrato {
  margin-top: 28px;
}

.dataCasamentoContrato {
  margin-bottom: -4px;
}

input,
option,
select {
  background-color: thistle;
  border: solid rgb(121, 91, 91);
  border-radius: 30px;
  padding: 1rem;
  font-size: 18px;
  color: black;
  font-weight: bold;
  width: 500px;
  text-align: center;
  justify-content: center;
}

body {
  margin: auto;
  text-align: center;
}

.enviar {
  border: none;
  padding: 0 4rem;
  height: 5rem;
  background-color: thistle;
  margin-bottom: 10rem;
  margin-top: 3rem;
  border-radius: 5px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
}

.enviar:hover {
  background-color: rgb(173, 106, 173);
}
.containerForm {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.formulario {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: bold;
  font-size: 20px;
  line-height: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.assinatura {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ass{
  margin: -5px 0px -13px 0;
}
.assImg {
  width: 354px;
  height: 55px;
  margin-bottom: -22px;
}

@media screen and(max-width: 320px) {
  .formulario {
    background-color: red;
  }
}

a{
  z-index: -1;
}